/*简历标题*/
.edit-title-box {
    width: 400px;
    height: 42px;
    margin: 20px auto;
    border-bottom: 2px solid rgba(0,0,0,.1);
}
.edit-title-box>input {
    width: 400px;
    height: 100%;
    outline:none;
    border:0;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
}
    /*简历展示界面*/
.resume {
    position: relative;
    display: inline-block;
    width: 580px;
    height: auto;
    /*width: 210mm;*/
    /*height: 270mm;*/
    margin: 25px auto;
    padding: 15px;
    background-color: #ffffff;
    border-top: 1px solid transparent;
}
/*简历头部的基本信息*/
.resume-head {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}
.resume-head:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}
.resume-head h3 {
    margin-bottom: 5px;
}
.resume-head span {
    font-size: 12px;
}
.img-box {
    position: absolute;
    width: 80px;
    height: 96px;
    right: 0;
    top: 0;
    border: 1px solid #868686;
}
.baseInfo .baseInfo-line {
    width: 100%;
    height: 18px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 3px;
}
.span1{
    margin: 0 2px;
}

.avatar-uploader1 .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
}
.avatar-uploader1 .el-upload1:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon1 {
    font-size: 28px;
    color: #8c939d;
    width: 80px;
    height: 96px;
    line-height: 96px;
    text-align: center;
}
.avatar1 {
    width: 80px;
    height: 96px;
    display: block;
}

.resume-item {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 5px;
}
.resume-item:hover {
    cursor: pointer;
    background-color: #f9f9f9;
}
.h5-tag {
    font-size: 15px;
    text-align: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid black;
}
.school {
    text-align: left;
    margin-bottom: 5px;
}
/*教育经历部分*/
.school-info span {
    float: left;
    font-size: 12px;
    margin-right: 5px;
}
/*将全局重置的ul ol 样式恢复*/
.school-exp {
    padding: 0;
    margin: 0;
}
.school-exp p {
    font-size: 12px;
}
.school-exp ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}
.school-exp ol {
    list-style-type: decimal;
    margin: 0;
    padding: 0;
}
.school-exp li {
    margin: 0;
    padding: 0;
    list-style: inherit;
    font-size: 12px;
}

/*将全局重置的ul ol 样式恢复*/
.skill {
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.skill p {
    font-size: 12px;
}
.skill ul {
    list-style-type: disc;
    margin: 0;
    padding: 0;
}
.skill ol {
    list-style-type: decimal;
    margin: 0;
    padding: 0;
}
.skill li {
    margin: 0;
    padding: 0;
    list-style: inherit;
    font-size: 12px;
}
/*简历提交按钮*/
.submit-resume {
    position: absolute;
    width: 155px;
    height: 155px;
    border-radius: 50%;
    bottom: 0px;
    right: -175px;
}
.submit-resume a {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #00a4ff;
    border-radius: 50%;
}
.submit-resume a i {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 100px;
    line-height: 155px;
}